<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Banks - Login</title>
</head>
<body>
<h1>Login page</h1>
<form th:action="@{/myaccount}" th:object="${form}" method="post">
  <label for="username">Username</label>:
  <input th:field="*{username}" type="text" id="username" name="username" autofocus="autofocus" /><br />
  <label for="password">Password</label>:
  <input th:field="*{password}" type="password" id="password" name="password" /> <br />
  <input type="submit" value="Log in" />
</form>
</body>
</html>